* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 2%);
  --bg-light: hsl(0, 0%, 10%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
  --highlight: hsl(272, 100%, 74%);
  --highlight-muted: hsl(275, 69%, 17%);
  --highlight-dark: hsl(275, 96%, 52%);
  --danger: hsl(357, 96%, 58%);
  --icon: hsl(218, 12%, 64%);
}

body {
  background: var(--bg);
  color: var(--text-muted);
  font-family: 'Poppins', Courier, monospace;
  width: 100%;
  min-height: 100dvh;
}

body.light {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);
  --highlight: hsl(272, 100%, 74%);
  --highlight-muted: hsl(275, 69%, 17%);
  --highlight-dark: hsl(275, 96%, 52%);
  --danger: hsl(357, 96%, 58%);
  --icon: hsl(218, 12%, 64%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0 20vw;
  border-bottom: 1px solid var(--highlight);
  user-select: none;
}

.dictionary-icon {
  width: 30px;
  height: 30px;
}

.right-header {
  display: flex;
  justify-content: center;
}

.font-option {
  border-right: 1px solid var(--icon);
  margin-right: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

select {
  all: unset;
  background: var(--bg);
  font-size: medium;
  cursor: pointer;
}

.theme {
  width: 110px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 5px;
}

.theme-button {
  width: 60px;
  height: 30px;
  background: var(--bg-light);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid var(--icon);
  padding: 0.5px;
  cursor: pointer;
}

.theme-button.right {
  justify-content: right;
}

.theme-button-circle {
  width: 27px;
  height: 27px;
  background: radial-gradient(var(--bg), var(--icon));
  backdrop-filter: blur(10px);
  border-radius: 50%;
}
