* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 5%);
  --bg-light: hsl(0, 0%, 10%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
}

body {
  background: var(--bg-dark);
  color: var(--text-muted);
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  min-height: 100dvh;
}

body.light {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  user-select: none;
}

header > span {
  font-size: medium;
  font-style: italic;
  font-weight: bold;
  color: var(--text-muted);
}

header > span:hover {
  color: var(--text);
  cursor: pointer;
}

main {
  min-height: 90vh;
  width: 100%;
}

main > .search {
  position: sticky;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10vh;
  width: 50vw;
  background: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 20px;
}

.search > input {
  all: unset;
  height: inherit;
  width: 35vw;
  font-size: 2vw;
  color: var(--text);
}

.search > button {
  all: unset;
  height: 7vh;
  width: 7vh;
  background: url('https://img.icons8.com/?size=100&id=ObuWtTlsoTj6&format=png&color=000000');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.result {
  min-height: inherit;
  margin-top: 7vh;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5vh;
  width: 100%;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

footer > span:hover {
  color: var(--text);
  cursor: pointer;
}