* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 2%);
  --bg-light: hsl(0, 0%, 10%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
  --highlight: hsl(272, 100%, 74%);
  --highlight-muted: hsl(275, 69%, 17%);
  --highlight-dark: hsl(275, 96%, 52%);
  --danger: hsl(357, 96%, 58%);
  --icon: hsl(218, 12%, 64%);
}

body {
  background: var(--bg);
  color: var(--text-muted);
  font-family: 'Poppins', Courier, monospace;
  width: 100%;
  min-height: 100dvh;
}

body.light {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);
  --highlight: hsl(272, 100%, 74%);
  --highlight-muted: hsl(275, 69%, 17%);
  --highlight-dark: hsl(275, 96%, 52%);
  --danger: hsl(357, 96%, 58%);
  --icon: hsl(218, 12%, 64%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--icon);
  user-select: none;
}

.left-header {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10vw;
}

.dictionary-icon {
  width: 30px;
  height: 30px;
}

.right-header {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10vw;
}

.font-option {
  border-right: 1px solid var(--icon);
  margin-right: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

select {
  all: unset;
  background: var(--bg);
  font-size: medium;
  cursor: pointer;
}

.theme {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 5px;
}

.theme-button {
  width: 60px;
  height: 30px;
  background: var(--bg-light);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid var(--icon);
  padding: 0.5px;
  cursor: pointer;
}

.theme-button.right {
  justify-content: right;
}

.theme-button-circle {
  width: 27px;
  height: 27px;
  background: var(--icon);
  border-radius: 50%;
}

/* main part */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-panel {
  width: 70%;
  height: 10vh;
  margin-top: 5vh;
  position: relative;
}

input {
  all: unset;
  padding: 10px;
  box-sizing: border-box;
}

input:focus {
  outline: 1px solid var(--highlight);
}

.input-panel>input {
  width: 100%;
  height: 100%;
  background: var(--bg-light);
  color: var(--text);
  border-radius: 20px;
  font-size: large;
}

.search-button {
  width: 10vh;
  height: 10vh;
  position: absolute;
  right: 1%;
  top: 0;
}

.search-icon {
  position: relative;
  width: 10vh;
  height: 10vh;
  cursor: pointer;
}

.search-button-circle {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 0.7vh solid var(--highlight);
  position: absolute;
  top: 19%;
  left: 15%;
}

.search-button-circle-line {
  width: 0.7vh;
  height: 2.5vh;
  background-color: var(--highlight);
  rotate: 135deg;
  position: absolute;
  top: 55.5%;
  left: 60%;
}

.result-panel {
  margin-top: 10vh;
  width: 70%;
  min-height: 70vh;
}

.about-word {
  position: relative;
  width: 100%;
  height: 12vh;
  /* background: #fff; */
}

.word {
  position: absolute;
  translate: 0 -50%;
  top: 30%;
  left: 0%;
  color: var(--text);
}

.phonetic {
  position: absolute;
  translate: 0 -50%;
  top: 75%;
  left: 0%;
  color: var(--highlight);
}

.pronunciation {
  position: absolute;
  top: 50%;
  right: 0%;
  translate: 0 -50%;
  border-radius: 50%;
}

.audio-player-button {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: var(--highlight-muted);
  position: relative;
  cursor: pointer;
}

.audio-player-triangle {
  border-left: 4vh solid var(--highlight);
  border-top: 2.5vh solid transparent;
  border-bottom: 2.5vh solid transparent;
  translate: -50% -50%;
  position: absolute;
  top: 50%;
  left: 55%;
}


.definition {
  position: absolute;
  top: 50%;
  right: 0%;
  translate: 0 -50%;
  border-radius: 50%;
}


/* display none for all details */
/* .word, .phonetic, .pronunciation, .definition {
  display: none;
} */